{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

    
{% block content %}
<div class="container">
    <form method="POST">
        <div class="form-group mt-5">
    
            <label for="title">Title</label>
            <input type="text" class="form-control" id="title" name="title" placeholder="Enter title"><br>
    

            <!--<input type="file" id="pic" name="pic" /> -->

            <script src="https://cdn.ckeditor.com/ckeditor5/35.3.2/classic/ckeditor.js"></script>

            <label for="content-editor">Content</label>
            <textarea class="form-control" id="text" name="text" id="text" rows="20"></textarea>


            <script>
                ClassicEditor
                        .create( document.querySelector( '#text' ) )
                        .then( editor => {
                                console.log( editor );
                        } )
                        .catch( error => {
                                console.error( error );
                        } );
            </script>

    
            <div class="text-center">
                <button type="submit" class="mt-4 btn btn-success input-block-level form-control"
                style="padding-left: 2.5rem; padding-right: 2.5rem;">Submit</button>
            </div>     
            
    </form>
</div>

{% endblock %}