{% extends "base.html" %}
{% block title %}{{title}}{% endblock %}

{% block content %}

<!-- Jumbotron -->
<div class="p-5 text-center bg-image rounded-3" style="
    height: 800px;
    font-family: serif;
  ">
  <div class="mask" style="    background: linear-gradient(to top, rgba(72,198,239,1), rgba(111,134,214,1));">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">Your open-source source of information</h1>
        <h4 class="mb-3">“If freedom of speech is taken away, then dumb and silent we may be led, like sheep to the slaughter.” – George Washington </h4>
        <h1 class="mt-5"><br><br><i class="fas fa-angle-down"></i></h1>
      </div>
    </div>
  </div>
</div>
<!-- Jumbotron -->



    <div class="container mt-5">
        <div class="row">
            <div class="col-md-12">
                <h1 align="center">Articles</h1>
                <!-- <ul class="list-group list group-flush" id="notes">
                    {% for note in user.notes %}
                    <li class="list-group-item">
                        <button type="button" class="btn btn-danger btn-sm float-right delete-note" onClick="deleteNote({{ note.id }})">Delete</button>

                        {{ note.data }}
                    </li>
                    {% endfor %}
                </ul> -->
                
                <div class="m-auto" style="width: 170px;">
                    <button type="button" class="btn btn-primary me-3">
                        <a class="text-white" href="{{ url_for('views.add_article') }}">Write an article</a>
                    </button>
                </div>


                <ul class="list-group list-group-light m-auto" style="width: 600px;">

                    {% for article in articles %}
                        <li class="list-group-item d-flex justify-content-between align-items-center">
                            <div class="d-flex align-items-center">
                            <img src="https://cdn-icons-png.flaticon.com/512/746/746993.png" alt="" style="width: 45px; height: 45px"
                                class="rounded-circle" />
                            <div class="ms-3">
                                <p class="fw-bold mb-1">{{ article.username }}</p>
                                <p class="text-muted mb-0">{{ article.title }}</p>
                                <p class="text-muted mb-0">{{ article.date }}</p>
                            </div>
                            </div>
                            <a class="btn btn-link btn-rounded btn-sm" href="/article/{{ article.id }}/" role="button">View</a>
                        </li>

                        <br>
                    {% endfor %}

                </ul>
                <!--
                <form method="POST">
                    <textarea name="note" id="note" cols="30" rows="10" class="form-control"></textarea>
                    <div align="center">
                        <br><button type="submit" class="btn btn-primary">Add Note</button>

                    </div>
                </form>
                -->
            </div>
        </div>
    </div>
{% endblock %}