<!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <!-- Container wrapper -->
    <div class="container">
      <!-- Navbar brand -->
      <a class="navbar-brand me-2" href="/">
        <img
          src="https://toppng.com/uploads/preview/handcuffs-svg-icon-free-handcuff-icon-11553386008hqwasbhcmy.png"
          height="42"
          alt="Logo"
          loading="lazy"
          style="margin-top: -1px;"
        />
      </a>
  
      <!-- Toggle button -->
      <button
        class="navbar-toggler"
        type="button"
        data-mdb-toggle="collapse"
        data-mdb-target="#navbarButtonsExample"
        aria-controls="navbarButtonsExample"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <i class="fas fa-bars"></i>
      </button>
  
      <!-- Collapsible wrapper -->
      <div class="collapse navbar-collapse" id="navbarButtonsExample">
        <!-- Left links -->
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" href="/">Dashboard</a>
          </li>
        </ul>
        <!-- Left links -->
  
        <div class="d-flex align-items-center">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
            {% if user.is_authenticated %}
            <li class="nav-item">
              <a class="nav-link" href="{{ url_for('views.profile') }}">Hello, <span class="text-primary">{{ user.username }}</span></a>
            </li>
            <li class="nav-item">

              <a class="nav-link" href="/auth/logout">Logout</a>

              {% else %}
              <button type="button" class="btn btn-link px-3 me-2">
                <a href="{{ url_for('auth.login') }}">Login</a>
              </button>
              <button type="button" class="btn btn-primary me-3">
                <a class="text-white" href="{{ url_for('auth.sign_up') }}">Sign up for free</a>
              </button>
              {% endif %}
            </li>
          </ul>
      
          <a
            class="btn btn-dark px-2"
            href="https://github.com/denislindo2004/PresseFreiheit"
            role="button"
            ><i class="fab fa-github"></i
          ></a>
        </div>
      </div>
      <!-- Collapsible wrapper -->
    </div>
    <!-- Container wrapper -->
  </nav>
  <!-- Navbar -->