{% extends "base.html" %}
{% block title %}Sign up{% endblock %}

{% block content %}
    
    <div class="mb-10"></div>
    <form method="POST" class="mt-5">
    
      
    <section class="vh-100">
      <div class="container-fluid h-custom">
        <div class="row d-flex justify-content-center align-items-center h-100">
          <div class="col-md-9 col-lg-6 col-xl-5">
            <img src="https://static.miraheze.org/polcompballanarchywiki/3/34/Latinoancapball.png"
              class="img-fluid" alt="Sample image">
          </div>
          <div class="col-md-8 col-lg-6 col-xl-4 offset-xl-1">
            
              <div class="d-flex flex-row align-items-center justify-content-center justify-content-lg-start">
                <p class="lead fw-normal mb-0 me-3">Sign in with</p>
                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-facebook-f"></i>
                </button>
    
                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-twitter"></i>
                </button>
    
                <button type="button" class="btn btn-primary btn-floating mx-1">
                  <i class="fab fa-linkedin-in"></i>
                </button>
              </div>
    
              <div class="divider d-flex align-items-center my-4">
                <p class="text-center fw-bold mx-3 mb-0">Or</p>
              </div>
    
              <!-- Email input -->
              <div class="mb-3">
                <div class="form-outline">
                  <input class="form-control form-control-lg" 
                  type="email"
                  class="form-control"
                  id="email"
                  name="email"
                  aria-describedby="emailHelp"
                  class="form-control"
                  />
                  <label class="form-label" for="email">E-mail</label>
                </div>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div>
              </div>

              <!-- Username input -->
              <div class="mb-3">
                <div class="form-outline">
                  <input class="form-control form-control-lg" 
                  type="text"
                  class="form-control"
                  id="username"
                  name="username"
                  class="form-control"
                  />
                  <label class="form-label" for="username">Username</label>
                </div>
              </div>

              <div class="mb-3">
                <div class="form-outline">
                  <input class="form-control form-control-lg" 
                  type="text"
                  class="form-control"
                  id="password1"
                  name="password1"
                  class="form-control"
                  />
                  <label class="form-label" for="password1">Password</label>
                </div>
              </div>
  

              <div class="mb-3">
                <div class="form-outline">
                  <input class="form-control form-control-lg" 
                  type="text"
                  class="form-control"
                  id="password2"
                  name="password2"
                  class="form-control"
                  />
                  <label class="form-label" for="password2">Confirm password</label>
                </div>
              </div>
    
              <div class="d-flex justify-content-between align-items-center">
                <!-- Checkbox -->
                <div class="form-check mb-0">
                  <input class="form-check-input me-2" type="checkbox" value="" id="form2Example3" />
                  <label class="form-check-label" for="form2Example3">
                    Remember me
                  </label>
                </div>
              </div>
    
              <div class="text-center text-lg-start mt-4 pt-2">
                <button type="submit" class="btn btn-primary btn-lg"
                  style="padding-left: 2.5rem; padding-right: 2.5rem;">Register</button>
                <p class="small fw-bold mt-2 pt-1 mb-0">Already have an account? <a href="{{ url_for('auth.login') }}"
                    class="link-danger">Login</a></p>
              </div>
    
          </div>
        </div>
      </div>
       
        <!-- Right -->
        <div>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-facebook-f"></i>
          </a>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-twitter"></i>
          </a>
          <a href="#!" class="text-white me-4">
            <i class="fab fa-google"></i>
          </a>
          <a href="#!" class="text-white">
            <i class="fab fa-linkedin-in"></i>
          </a>
        </div>
        <!-- Right -->
      </div>
    </section>

    </form>

{% endblock %}